/* MENU */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #004466;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centralize horizontalmente */
  justify-content: flex-start;
}

.menu img {
  width: 200px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  transition: background-color 0.3s;
  width: 100%; /* Ocupar o comprimento total do menu */
  box-sizing: border-box; /* Evitar que o preenchimento aumente a largura */
  display: flex;
  justify-content: center; /* Centralize o texto horizontalmente */
}

.menu ul {
  list-style-type: none; /* Remover marcadores de lista */
  margin: 0;
  padding: 0;
  width: 100%; /* Ocupar o comprimento total do menu */
}

.menu a:hover {
  text-decoration: underline;
}

.menu li {
  width: 100%; /* Ocupar o comprimento total do menu */
  border-top: 2px solid transparent; /* Linha superior transparente */
  border-bottom: 2px solid transparent; /* Linha inferior transparente */
  transition: border-color 0.3s, background-color 0.3s; /* Transição suave para cores de borda e fundo */
}

.menu li.active {
  border-color: white; /* Cor da borda para o item de menu ativo */
  background-color: #003355; /* Cor de fundo quando o item estiver ativo */
}