.formulario {
    padding: 30px 20px 30px 10px;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formulario label {
    padding-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: row;
}

.container-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #004466;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003355;
}

button:active {
    background-color: #002244;
}