.formulario {
    padding: 30px 20px 30px 10px;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 800px;
    overflow-x: auto;
}

.formulario label {
    padding-bottom: 0px;
    font-weight: bold;
}

.container-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
